.button{
    background: #000000;
    color: #FFFFFF;
    padding: 1rem 3rem;
    border: 1px solid #000;
    outline: none;
    font-size: 1.15em;
    font-weight: 400;
}

.button:focus,
.button:hover{
    background: #F66D37;
    border: 1px solid #F66D37;
}

.learn-btn{
    text-transform: uppercase;
    font-size: 0.9em;
}

.send-btn{
    background: #F66D37;
    border: 1px solid #F66D37;
    color: #FFFFFF;
    border-radius: 3em;
    padding: 1em 4em;
    text-transform: uppercase;
}

.send-btn:hover{
    background:#FFFFFF;
    border: 1px solid #FFFFFF;
    color: #252525;
    font-weight: 400;
}