/*About Us Section*/
.section-about .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    margin: 0 auto;
}

.section-about .container div {
    flex: 1 1 47%;
    color: #4c4c4b;
}

.section-about h2 {
    color: #F66D37;
    margin-bottom: 1em;
}

.section-about p {
    margin-bottom: 1em;
}

.section-about button {
    margin-top: 1.5em;
}

/*Gallery Section*/
.section-gallery {
    text-align: center;
}

.section-gallery .container {
    padding: 0 1em 5em 1em;

}

.section-gallery h2 {
    color: #F66D37;
    margin-bottom: 1em;
}

.section-gallery p {
    margin: 2em;
}

.section-gallery button {
    margin: 2em 0;
}

.section-gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.section-gallery ul li {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .section-gallery ul li {
        flex: 0 0 30%;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .section-gallery ul {
        gap: 2em;
    }
}

/*Services Section*/
.section-services {
    text-align: center;
    background: center/cover no-repeat url("../images/services-bg.png");
    color: #FFFFFF;
}

.section-services h2 {
    margin-bottom: 1em;
}

.section-services p {
    margin: 2em 0;
}

.service-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
}

.service-boxes li {
    background: #F66D37;
    padding: 3em 1em 2em 1em;
    margin: 0 auto;
    flex: 0 0 100%;
}

.service-boxes li h3 {
    padding-top: 1em;
}


.service-boxes li img {
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 768px) {
    .service-boxes li {
        flex: 0 0 30%;
    }
}

/*Testimonial Section*/
.section-testimonials h2 {
    color: #F66D37;
    margin-bottom: 1em;
}

.section-testimonials p {
    padding: 2em 0;
}

.testimonial-box {
    padding: 0 2em;
    position: relative;
    overflow: hidden;

}

.testimonial-box:before {
    display: block;
    content: '';
    width: 80px;
    height: 90%;
    border-top: 3px solid #F66D37;
    border-left: 3px solid #F66D37;
    position: absolute;
    top: 0.5em;
    left: 0;
    right: initial;
}

.testimonial-box:after {
    display: block;
    content: '';
    width: 80px;
    height: 90%;
    border-bottom: 3px solid #F66D37;
    border-right: 3px solid #F66D37;
    position: absolute;
    top: 0.5em;
    right: 0;
    left: initial;
}


.testimonial-box h4 {
    color: #F66D37;
    position: absolute;
    float: left;
    padding-left: 80px;
    padding-bottom: 2em;
    line-height: 1;
    width: 100%;
}

.section-testimonials h4 img {
    padding-left: 0.5em;
    width: 30px;
}

.testimonial-box p {
    padding: 3em 0;
}

/*Contact Section*/

.section-contacts h2 {
    color: #F66D37;
    margin-bottom: 1em;
    text-align: center;
}

.contact-wrapper .map-wrapper iframe {
    height: 100%;
    width: 100%;
    margin-bottom: -0.5em;
    min-height: 400px;
}

.contact-wrapper .contact-form {
    background: left/cover no-repeat url("../images/img-9.png");
    padding:  3em 1em;
    text-align: center;
}

.contact-wrapper .contact-form input,
.contact-wrapper .contact-form textarea {
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 3em;
    border: none;
}

.contact-wrapper .contact-form input::placeholder,
.contact-wrapper .contact-form textarea::placeholder {
    font-weight: 400;
    font-size: 1.4em;
}

@media screen and (min-width: 768px){
    .contact-wrapper {
        display: flex;
    }

    .contact-wrapper .contact-form,
    .contact-wrapper .map-wrapper {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1024px){
    .contact-wrapper .contact-form{
        padding: 4em;
    }
}

